<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../public/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>TFM</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../public/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../public/demo/demo.css" rel="stylesheet" />
   <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
   <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
   </script>
   <style>
    .zc-ref {
      display: none;
    }
   </style>



</head>
  

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                
                    Traffic Management System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/dashboard">
                            <i class="now-ui-icons design_app"></i>
                            <p>DashBoard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/maps">
                            <i class="now-ui-icons location_map-big"></i>
                            <p>Maps</p>
                        </a>
                    </li>
                    <li>
                        <a href="/tables">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Table List</p>
                        </a>
                    </li>
                    <li>
                        <a href="/location">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Location</p>
                        </a>
                    </li>
                    <li>
                        <center style="margin-top:10%;">
                            
                        </center>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Average Traffic Density</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div id='myChart'><a class="zc-ref" href="#"></a>
            </div>
            
            <div class="container">
                
                <!-- Trigger the modal with a button -->
                
              
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                     
                      <div class="modal-body">
                        <form>
                            <center><h4 class="modal title">Track your Travel</h4></center>
                            <div class="form-group">
                              <label for="usr">From:</label>
                              <input type="text" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                              <label for="pwd">To:</label>
                              <input type="text" class="form-control" id="pwd">
                            </div>
                          </form>
                        
                      </div>
                      <div class="modal-footer">
                     <button   type="button" class="btn btn-default">Search</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              
              

        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="../public/js/core/jquery.min.js"></script>
<script src="../public/js/core/popper.min.js"></script>
<script src="../public/js/core/bootstrap.min.js"></script>
<script src="../public/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="../public/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../public/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../public/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="../public/demo/demo.js"></script>
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in public/js/demos.js
        demo.initDashboardPageCharts();
    });
</script>
<!-- search button -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
  zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
  ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<script>
    zingchart.THEME = "classic";
    var myConfig = {
      "type": "line",
      "background-color": "#003849",
      "utc": true,
      "title": {
        "y": "7px",
        "text": "TRAFFIC",
        "background-color": "#003849",
        "font-size": "24px",
        "font-color": "white",
        "height": "25px"
      },
      "plotarea": {
        "margin": "20% 8% 14% 12%",
        "background-color": "#003849"
      },
      "legend": {
        "layout": "float",
        "background-color": "none",
        "border-width": 0,
        "shadow": 0,
        "width": "75%",
        "text-align": "middle",
        "x": "25%",
        "y": "10%",
        "item": {
          "font-color": "#f6f7f8",
          "font-size": "14px"
        }
      },
      "scale-x": {
        //"min-value": 1383292800000,
        "values": "0:2500:50",
        "shadow": 0,
        //"step": "36minute",
        "line-color": "#f6f7f8",
        "tick": {
          "line-color": "#f6f7f8"
        },
        "guide": {
          "line-color": "#f6f7f8"
        },
        "item": {
          "font-color": "#f6f7f8"
        },
        "transform": {
          //"type": "date",
          //"all": "%D, %d %M<br />%h:%i %A",
          "guide": {
            "visible": false
          },
          "item": {
            "visible": false
          }
        },
        "label": {
          "text" : "intervals",
          "visible": false
        },
        "minor-ticks": 0
      },
      "scale-y": {
        "values": "0:250:50",
        "line-color": "#f6f7f8",
        "shadow": 0,
        "tick": {
          "line-color": "#f6f7f8"
        },
        "guide": {
          "line-color": "#f6f7f8",
          "line-style": "dashed"
        },
        "item": {
          "font-color": "#f6f7f8"
        },
        "label": {
          "text": "Distance travelled",
          "font-color": "#f6f7f8"
        },
        "minor-ticks": 0,
        "thousands-separator": ","
      },
      "crosshair-x": {
        "line-color": "#f6f7f8",
        "plot-label": {
          "border-radius": "5px",
          "border-width": "1px",
          "border-color": "#f6f7f8",
          "padding": "10px",
          "font-weight": "bold"
        },
        "scale-label": {
          "font-color": "#00baf0",
          "background-color": "#f6f7f8",
          "border-radius": "5px"
        }
      },
      "tooltip": {
        "visible": false
      },
      "plot": {
        "tooltip-text": "%t views: %v<br>%k",
        "shadow": 0,
        "line-width": "3px",
        "marker": {
          "type": "circle",
          "size": 3
        },
        "hover-marker": {
          "type": "circle",
          "size": 4,
          "border-width": "1px"
        }
      },
      "series": [{
        "values": [
          <%=data.dist%>
        ],
        "text": "Distance Tracked",
        "line-color": "#007790",
        "legend-marker": {
          "type": "circle",
          "size": 5,
          "background-color": "#007790",
          "border-width": 1,
          "shadow": 0,
          "border-color": "#69dbf1"
        },
        "marker": {
          "background-color": "#007790",
          "border-width": 1,
          "shadow": 0,
          "border-color": "#69dbf1"
        }
      }]
    };

    zingchart.render({
      id: 'myChart',
      data: myConfig,
      height: 800,
      width: 1230
    });
  </script>
</html>
